
/* ...........shere style................ */
.bg-color{
    visibility: hidden;
background: rgb(30, 30, 30);
}
.display-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.display-grid{

}
.containers{
    max-width: 1140px;
    margin: 0 auto;
}
/* ...........nav bar....................... */
.nav-items{
    display: flex;
    list-style: none;
}
.nav-items li a{
text-decoration: none;
margin-right: 48px;
/* color: black; */

}
.gray-color{
    color: rgb(137, 135, 161);
    font-weight: 400;
    font-size: 1rem;
}
.black-color{
    color: rgb(37, 36, 50);
    font-weight:700;
    font-size: 1rem;
}
.light-black{
    color: rgb(0, 0, 0);
    font-weight: 400;
    font-size: 1rem;
}
 /* <!-- .....................banner section............... --> */
.banner{
    display: flex;
    margin-top: 120px;
}
.banner-laft{
    align-content: end;
}
.banner-title{
    font-weight: bold;
    font-size: 4rem;
}
.font-color{
    color: rgb(233, 90, 8);
}
.banner-description{
    color: rgba(0, 0, 0, 0.5);
    font-weight: 400;
    font-size: 1.5rem;
}
.banner-right {
     width: 100%;
     
}

 /* ..................plants description.......... */
.plants-hub{
    max-width: 1140px;
    margin: 0 auto;
    margin-top: 100px;
    
    /* border: 1px solid red; */
}
.plants-descripton{
    text-align: center;
}
.plants-title{
    font-weight: bold;
    font-size: 3rem;
}
.our{
    color: rgb(233, 90, 8);
}

/* ....................plants items....................... */
.plants-items-flex{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px 0;
    
}
.plants-items-description{
    max-width: 270px;
    margin: auto;

}
.plants-items-description img{
    max-width: 100%;
}
.lily{
    font-weight: 500;
    font-size: 1.4rem;
    text-align: center;
}
.dolar{
    font-weight: bold;
    font-size: 1.4rem;
    text-align: center;
}
.btn-primary{
    width: 100%;
    height: 50px;
    font-weight: 600;
    font-size: 1rem;
    background: rgb(233, 90, 8);
    border: none;

}
 /* ................challenge part 1.............. */
.challenge-part{
display: flex;
margin-top:200px ;
gap: 3.9rem;
height: 590px;
}
.challenge-right{
    max-width: 100%;
    height: 590px;
}
.font-sze{
    font-weight: bold;
    font-size: 3rem;
}
.challenge-left{
    max-width: 540px;
    height:520px ;
    align-items: center;
}
.challenge-left ul li{
    color: rgba(0, 0, 0, 0.5);
    margin-top: 20px;
    font-weight: 400;
    font-size: 1.2rem;
}
.trusted-logo{
    max-width: 286px;
    height: 286px;
    position: relative;
    top: -650px;
    right: 200px;
}
/* .....................deteles................ */
.deteles{
    margin-top: 100px;
}



@media screen and (max-width: 576px) {
    .hide{
        display: none;
    }
    .banner{
        flex-direction: column-reverse;
        margin: auto;
        width: auto;
        margin-top: 0;
    }
    .banner-right img{
        width: 100%;
        margin: auto;
    }
    .banner-title{
       margin-left: 20px;
    }
    .plants-items-flex{
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        
    }
    .btn-primary{
        width: 100%;
        margin: auto;
    }
    .challenge-part{
        flex-direction: column;
        margin-top: 30px;
    }
    .challenge-right img{
        max-width: 100%;
    }
      .deteles{
    position: relative;
    top: 550px;
}
   
    
}